/*  Yen Lang
    CIS 4004
    Week 4: CSS Transitions and Selectors
*/

/* ----------------------------
   1) Drop-cap first letter
   (only the main paragraph text; NOT the "Read more" link)
---------------------------- */
article p:first-of-type::first-letter{
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
    line-height: 1;
    float: left;
    margin-right: 6px;
  }
  
  /* ----------------------------
     2) Articles start light; on hover become darker + expand
     (transition BOTH ways over 2 seconds)
  ---------------------------- */
  article{
    color: #b6b6b6;                  /* light text at rest */
    transition: color 2s, transform 2s;
    transform-origin: center top;
  }
  
  article:hover{
    color: #111;                     /* darker on hover */
    transform: scale(1.10);          /* expand on hover */
    z-index: 5;
    position: relative;
  }
  
  /* Keep "Read more" unaffected (stays link-colored) */
  article a{
    color: #1a0dab;
    text-decoration: underline;
  }
  
  /* ----------------------------
     3) Add external-link arrow to any Google link
     (your "Read more" links)
  ---------------------------- */
  a[href*="google"]::after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 6px;
    vertical-align: -3px;
    background-repeat: no-repeat;
    background-size: contain;
  
    /* Inline SVG "external link" icon (Wikipedia-style look) */
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2020%2020'%3E%3Cpath%20fill='%23005bbb'%20d='M13%202h5v5h-2V5.41l-7.29%207.3-1.42-1.42%207.3-7.29H13V2z'/%3E%3Cpath%20fill='none'%20stroke='%23005bbb'%20stroke-width='2'%20d='M16%2012v5H3V4h5'/%3E%3C/svg%3E");
  }
  
  /* ----------------------------
     4) Left navigation hover color change + dropdown
  ---------------------------- */
  #jumpMenu a{
    display: block;
    text-align: center;
    color: #fff;
    background: #0000ff;             /* blue buttons */
    padding: 14px 10px;
    border-bottom: 2px solid #000;
    text-decoration: none;
  }
  
  #jumpMenu a:hover{
    background: #caa24a;             /* gold/tan on hover */
    color: #fff;
  }
  
  /* ----------------------------
     5) "Recent Articles" hover shows list of article links
     Assumes your HTML is like:
     <li><a>Recent Articles</a>
          <ul> <li><a>Article 1</a>...</li> </ul>
     </li>
  ---------------------------- */
  #jumpMenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #jumpMenu li{
    position: relative;
  }
  
  /* hide submenu by default */
  #jumpMenu li ul{
    display: none;
    background: #caa24a;             /* gold panel */
    margin: 0;
    padding: 6px 0;
  }
  
  /* show submenu when hovering over the parent button */
  #jumpMenu li:hover > ul{
    display: block;
  }
  
  /* submenu link styling */
  #jumpMenu li ul a{
    background: transparent;
    color: #0000ff;                   /* blue text like screenshot */
    text-align: left;
    padding: 3px 14px;
    border: none;
  }
  
  /* submenu item hover: change font color + background */
  #jumpMenu li ul a:hover{
    background: #0000ff;              /* blue highlight */
    color: #ffffff;                   /* white text */
  }
  
